.qodo
.env
flask_session
instance
scores.csv
__pycache__
venv
sample_rubric.txt
sample_student.csv 
.venv
backend/venv
frontend/node_modules
frontend/.qodo
frontend/.env
frontend/backend/.env
node_modules