flask
flask-cors
python-dotenv
openai
pandas
openpyxl
pymongo
mongoengine
python-dateutil
requests
aiohttp
black
pytest
langchain
langchain-core
langchain-community
langchain-chroma
langchain-openai
langchain-pinecone
langchain-tests
langchain-text-splitters
